<%= simple_form_for(@passenger) do |f| %>
  <%# Prevent submission when hit enter %>
  <button type="submit" disabled class="hidden" aria-hidden="true"></button>

  <div class="field">
    <div class="control">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if @passenger.errors[:first_name].empty?}" %>' id="passenger_first_name_error">Please enter your first name</p>
  </div>
  
  <div class="field">
    <div class="control">
    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if @passenger.errors[:last_name].empty?}" %>' id="passenger_last_name_error">Please enter your last name</p>
  </div>
  
  <div class="field">
    <div class="control">
    <%= f.input :date_of_birth,
                as: :date,
                start_year: Date.today.year - 90,
                end_year: Date.today.year,
                order: [:day, :month, :year],
                required: true,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if @passenger.errors[:date_of_birth].empty?}" %>' id="passenger_date_of_birth_error">Please enter your date of birth</p>
  </div>
  
  <div class="field">
    <div class="control">
    <%= f.input :passport_number,
                required: true,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if @passenger.errors[:passport_number].empty?}" %>' id="passenger_last_name_error">Please enter your passport number</p>
  </div>
  
  <div class="field">
    <div class="control">
    <%= f.input :nationality,
                required: true,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if @passenger.errors[:nationality].empty?}" %>' id="passenger_last_name_error">Please enter your nationality</p>
  </div>
  
  <div class="field">
    <div class="control">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if @passenger.errors[:email].empty?}" %>' id="passenger_last_name_error">Please enter your email</p>
  </div>
  
  <div class="field">
    <div class="control">
    <%= f.input :tel,
                required: true,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label" },
                label: "Phone number",
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if @passenger.errors[:tel].empty?}" %>' id="passenger_last_name_error">Please enter your phone number</p>
  </div>
  
  <div class="field">
    <div class="control">
    <%= f.input :address,
                required: true,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if @passenger.errors[:address].empty?}" %>' id="passenger_last_name_error">Please enter your address</p>
  </div>

  <%# Submit button %>
  <div class="field">
    <div class="control">
      <%= f.button :submit, "Buy", class: "button is-primary is-full-width", id: "passenger_buy" %>
    </div>
  </div>
<% end %>