<%= simple_form_for(passenger, html: {id: "passenger__form-#{number}", class: 'passenger__form', style: "z-index: #{params[:count].to_i-number.to_i}"}) do |f| %>
  <%# Prevent submission when hit enter %>
  <button type="submit" disabled class="hidden" aria-hidden="true"></button>

  <%# Add passenger number %>
  <%= hidden_field_tag :number, number %>

  <p class="title has-text-centered">
    <%= "Passenger #{number}" %>
  </p>

  <div class="field">
    <div class="control">
    <%= f.input :first_name,
                required: false,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label ml-2" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if passenger.errors[:first_name].empty?}" %>' id="passenger_first_name_error">Please enter your first name</p>
  </div>
  
  <div class="field">
    <div class="control">
    <%= f.input :last_name,
                required: false,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label ml-2" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if passenger.errors[:last_name].empty?}" %>' id="passenger_last_name_error">Please enter your last name</p>
  </div>
  
  <div class="field">
    <div class="control">
      <%= label_tag 'Date of birth', nil, class: "label ml-2" %>
      <%= date_field_tag :date, Date.today - 30*365 - 8,
                          class: "input optional",
                          id: "passenger_date_of_birth",
                          max: Date.yesterday,
                          onkeydown: "return false" %>
    <%#= f.input :date_of_birth,
                as: :date,
                start_year: Date.today.year - 90,
                end_year: Date.today.year,
                order: [:day, :month, :year],
                required: false,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label ml-2" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if passenger.errors[:date_of_birth].empty?}" %>' id="passenger_date_of_birth_error">Please enter your date of birth</p>
  </div>
  
  <div class="field">
    <div class="control">
    <%= f.input :passport_number,
                required: false,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label ml-2" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if passenger.errors[:passport_number].empty?}" %>' id="passenger_last_name_error">Please enter your passport number</p>
  </div>
  
  <div class="field">
    <div class="control">
    <%= f.input :nationality,
                required: false,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label ml-2" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if passenger.errors[:nationality].empty?}" %>' id="passenger_last_name_error">Please enter your nationality</p>
  </div>
  
  <div class="field">
    <div class="control">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label ml-2" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if passenger.errors[:email].empty?}" %>' id="passenger_last_name_error">Please enter your email</p>
  </div>
  
  <div class="field">
    <div class="control">
    <%= f.input :tel,
                required: false,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label ml-2" },
                label: "Phone number",
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if passenger.errors[:tel].empty?}" %>' id="passenger_last_name_error">Please enter your phone number</p>
  </div>
  
  <div class="field">
    <div class="control">
    <%= f.input :address,
                required: false,
                autofocus: true,
                input_html: { class: "input" },
                label_html: { class: "label ml-2" },
                wrapper: false,
                error: false %>
    </div>
    <p class='<%= "help is-danger #{"hidden" if passenger.errors[:address].empty?}" %>' id="passenger_last_name_error">Please enter your address</p>
  </div>

  <%# Submit button %>
  <div class="field">
    <div class="control">
      <%= f.button :submit, "Buy", class: "button is-success is-full-width passenger__buy", id: "passenger__buy" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-primary is-full-width passenger__next" id='<%= number+1 %>'>Next passenger</button>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-danger is-full-width passenger__prev" id='<%= number-1 %>'>Previous passenger</button>
    </div>
  </div>
<% end %>