<div class="box mt-5">
  <div class="field">
    <div class="control">
      <p class="title has-text-centered" style="font-size: 2rem !important;"><%= "Passenger " + (index + 1).to_s %></p>
      <p class="title">First name: <span style="font-weight:400;"><%= passenger.first_name %></span></p>
      <p class="title">Last name: <span style="font-weight:400;"><%= passenger.last_name %></span></p>
      <p class="title">Date of birth: <span style="font-weight:400;"><%= passenger.date_of_birth %></span></p>
      <p class="title">Second name: <span style="font-weight:400;"><%= passenger.passport_number %></span></p>
      <p class="title">Nationality: <span style="font-weight:400;"><%= passenger.nationality %></span></p>
      <p class="title">Email: <span style="font-weight:400;"><%= passenger.email %></span></p>
      <p class="title">Phone number: <span style="font-weight:400;"><%= passenger.tel %></span></p>
      <p class="title">Address: <span style="font-weight:400;"><%= passenger.address %></span></p>
    </div>
  </div>
</div>