<div class="box mt-5">
  <div class="field">
    <div class="control" id='<%= "transfer#{transfer}__control" %>'>

      <% if transfer != -1 %>
        <h2 class="title">
          <%= transfer == 0 ? "Direct Routes" : "#{transfer} Transfer Routes" %>
        </h2>
        <p id='<%= "transfer#{transfer}__none" %>'>
          No <%= transfer == 0 ? "direct travel" : "#{transfer} transfer" %> options available.
        </p>
      <% else %>
        <h2 class="title has-text-centered has-text-primary" style="font-size: 2rem !important;">Selected Travel Option</h2>
      <% end %>

      <table class="table is-hoverable has-text-centered is-fullwidth is-bordered is-narrow hidden mb-0" id='<%= "transfer#{transfer}__table" %>'>
        <thead class="has-background-warning">
          <tr>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th>Time</th>
            <th>Duration</th>
            <th>Vehicle</th>
            <th>Price</th>
          </tr>
        </thead>
      </table>
      <table class="table is-hoverable has-text-centered is-fullwidth is-bordered is-narrow hidden" id="transfer__icons">
        <thead class="has-background-warning mb-4">
          <tr>
            <th><i class="fal fa-city"></i><i class="fal fa-hourglass-start"></i></th>
            <th><i class="fal fa-city"></i><i class="fal fa-hourglass-end"></i></th>
            <th><i class="fal fa-calendar-day"></i></th>
            <th><i class="fal fa-watch"></i></th>
            <th><i class="fal fa-stopwatch"></i></th>
            <th><i class="fal fa-plane"></i></th>
            <th><i class="fal fa-euro-sign"></i></th>
          </tr>
        </thead>
        <tbody id='<%= "transfer#{transfer}__body" %>'>
        </tbody>
      </table>
      
    </div>
  </div>
</div>